@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;500&display=swap');

:root{
    --blue:#477eff;
    --dark-color:#0c53f9;
    --black:#444;
    --light-color:#666;
    --border:0.1rem solid rgba(0,0,0,0.1);
    --border-hover:0.1rem solid var(--black);
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html{
    font-size: 65%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}

body{
    margin: 0; /* Reset default margin */
    min-height: 100vh;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

.btn1{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    color: #fff;
    border-radius: 0.5rem;
    background: var(--blue);
    border: 1px solid var(--border);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn1:hover{
    background-color: var(--dark-color);
}

/*---- home section ----*/
section{
    padding: 3rem 9%;
}

@media (max-width:991px){
    section{
        padding: 3rem 2rem;
    }
}

.home{
    background: url("Shop_IMGs/banner-bg.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 90px;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content{
    flex: 1 1 42rem;
}

.home .row .content h3{
    color: var(--black);
    font-size:4.5rem;
}

.home .row .content p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}

.home .row .books-list{
    flex: 1 1 42rem;
    margin-top: 2rem;
    text-align: center;
}

.home .row .books-list a img{
    height: 17rem;  
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.4);
}

.home .row .books-list a:hover img{
    transform: scale(0.9);
}

.home .row .books-list .stand{
    width: 100%;
    margin-top: -2rem;
}

@media (max-width:768px){
    .home .row .content h3{
        font-size:3.5rem;
    }

    .home .row .content{
       text-align: center;
    }
}

/*------- featured section ----------*/

.heading{
    text-align:center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 0.01rem;
    background: rgba(0,0,0,0.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding: 5rem 2rem;
    color: var(--black);
    border: var(--border);
    background: #fff;
}

.featured .featured-slider .box{
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

.featured .featured-slider .box:hover{
    border: var(--border-hover);
}

.featured .featured-slider .box .image{
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #eee 30.1%);
}

.featured .featured-slider .box .image img{
    height: 25rem;
}

.featured .featured-slider .box:hover .image{
    transform: translateY(6rem);
    cursor: pointer;
}

.featured .featured-slider .box .icons{
    padding-bottom: var(--border-hover);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-100%);
    border: var(--border);
}

.featured .featured-slider .box:hover .icons{
    transform: translateY(0);
}

.featured .featured-slider .box .icons a{
    color: var(--black);
    font-size: 2.2rem;
    padding: 1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
    background: var(--blue);
    color: #fff;
}

.featured .featured-slider .box .content{
    background: #eee;
    padding: 1.5rem;
}

.featured .featured-slider .box .content h3{
    font-size: 1.5rem;
    color: var(--black);
}

.featured .featured-slider .box .content .price{
    font-size: 2rem;
    color: var(--black);
    padding-top: 2rem;
}

.featured .featured-slider .box .content .price span{
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}

/*------- news letter section start---------*/

.newletter{
    background: url(Shop_IMGs/girlreading.jpg);
    background-position: center;
}

.newletter form{
    max-width: 60rem;
    margin-left: auto;
    text-align: center;
    padding: 5rem 0;
}

.newletter form h3{
    font-size: 2.2rem;
    color: #fff;
    padding: 0.7rem;
    font-weight: normal;
}

.newletter form .box{
    width: 100%;
    margin: 0.7rem 0;
    padding: 1rem 1.2rem;
    font-size: 1.5rem;
    color: var(--black);
    border-radius: 0.5rem;
    text-transform: none;
}

@media(max-width:768px){
    .newletter{
        background-position: right;
    }

    .newletter form{
        margin-left: 0;
        max-width: 100%;
    }
}

/*----- arrivals section --------*/

.arrivals .arrivals-slider .box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border: var(--border);
    margin: 1rem 0;
    margin-top: 3rem;
}

.arrivals .arrivals-slider .box:hover{
    border: var(--border-hover);
}

.arrivals .arrivals-slider .box .image img{
    height: 15rem;
}

.arrivals .arrivals-slider .box .content h3{
    font-size: 2rem;
    color: var(--black);
}

.arrivals .arrivals-slider .box .content .price{
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}

.arrivals .arrivals-slider .box .content .price span{
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars{
    color: var(--blue);
    font-size: 1.5rem;
}

/*-------- deal section ----*/

.deal{
    background: #f3f3f3;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.deal .content{
    flex: 1 1 42rem;
}

.deal .image{
    flex: 1 1 42rem;
}

.deal .image img{
    width: 60%;
}

.deal .content h3{
    color:var(--blue);
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
}

.deal .content h1{
    color: var(--black);
    font-size: 4rem;
}

.deal .content p{
    padding: 1rem 0;
    color: var(light-color);
    font-size: 1.4rem;
    line-height: 2;
}

/* ---- Container Forms ---- */
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    column-gap: 30px;
}

.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    background: #FFF;
}

.form.signup{
    opacity: 0;
    pointer-events: none;
}

.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}

.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}

header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form{
    margin-top: 30px;
}

.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

.field input:focus{
    border-bottom-width: 2px;
}

.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button{
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover{
    background-color: #016dcb;
}

.form-link{
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form a{
    color: #0171d3;
    text-decoration: none;
}

.form-content a:hover{
    text-decoration: underline;
}

.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}

.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}

.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}

a.facebook{
    color: #fff;
    background-color: #4267b2;
}

a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.facebook span{
    font-size: 1.5rem;
    font-weight: 500;
}

.facebook-icon,
img.google-img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}

a.google{
    border: 1px solid #CACACA;
}

a.google span{
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}

@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    
}

/*   Footer   */
.footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background: #333;
    color: #efefef; 
    display: flex;
}

.footer div{
    text-align: center;
}

.col-2{
    flex-grow: 2;
}

.footer div h3{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a{
    font-size: 1.5rem;
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}

.col-3 p{
    font-size: 1.5rem;
}

.footer-input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

.footer-btn{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-btn:hover{
    background: #efefef;
    color: #333;
}

.social-icons{
    margin-top: 30px;
}

.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}

/* Another Page ong*/
.info-section{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(IMGs/ngee-ann-poly-campus.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.info-div{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border: 2px solid rgba(104, 104, 104, 0.2);
    background-color: transparent;
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.info-div h1{
    font-size: 62px;
}

.info-div p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}

.img-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.schimg{
    border: 2px solid #000;
    padding: 10px;
    margin-right: 10px;
    max-width: 50%;
}

.schimg img{
    display: block; 
    width: 100%;
    height: auto;
}

.imginfo{
    max-width: 300px;
}

.school-info {
    min-height: 50vh;
    width: 100%;
    margin-top: 120px; /* Add a top margin to create space */
    padding: 50px 20px; 
    background-color: #f5f5f5; 
    text-align: center; 
}


.sch-div {
    max-width: 800px; /* Limit the maximum width of the content */
    margin: 0 auto; /* Center the content horizontally */
}

.sch-div h1 {
    font-size: 2.5em; /* Adjust the font size for better readability */
    margin-bottom: 20px; /* Add some space below the heading */
}

.sch-div p {
    font-size: 1.1em; /* Adjust the font size for better readability */
    line-height: 1.6; /* Increase the line height for better spacing */
    color: #333; /* Use a darker text color for better contrast */
}


.school-list {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align the items at the top */
    margin-top: 20px;
}

.school-list div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    width: 60%;
}

.sch img {
    width: 350px;
    height: 250px;
    border-radius: 5px;
}

.sch h1 {
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}

.poly-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.poly-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Center items and evenly distribute */
}

.poly {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    width: 400px;
    margin-bottom: 20px;
    padding: 20px; /* Add padding around each poly */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.poly img {
    width: 300px; 
    height: 175px;
    border-radius: 5px; 
    margin-bottom: 10px; 
}

.poly h1 {
    font-size: 20px;
    text-align: center;
    margin: 0; /* Remove default margin */
}




